# --- Segurança ---
.env
.env.local
.env.*
*.log

# --- Kotlin / Gradle ---
/build/
.gradle/
out/
bin/

# --- IntelliJ / IDE ---
.idea/
*.iml
*.iws
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/

# --- OS específicos ---
.DS_Store
Thumbs.db

# --- Playwright ---
test-results/
playwright-report/